@charset "utf-8";

/*============================================
	― 変数設定
=============================================*/
$grade-color:linear-gradient(90deg,#09828b,#2888b6);
$orange-grade-color: linear-gradient(90deg, #e2611b, #f2a02b);
$orange-color: #e97a21;